.main {
  position: relative;
  min-height: 100vh;
}
.login-page {
  position: absolute;
  width: 400px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #8fd6e7;
  padding: 20px;
  border-radius: 8px;
}
